body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; /* Sanity Check! */
}

h1 {
  text-align: center;
}
.jumbotron {
	min-height: 300px;
}
#postButton {
	margin-top: 10px;
}
#postbox {
	background-color: darkgrey;
}